# Python Data Types

In Python, every value is associated with a specific data type, and variables can store these values. Python is a dynamically typed language, meaning you don't need to specify the variable type explicitly. The Python interpreter determines the type of the variable based on the assigned value.

In [ ]:
pwd

'/content'

In [ ]:
amount = 5000
# We did not specify the type; Python implicitly recognizes it as an integer.
print("The type of 'amount':", type(amount))

You can verify the type of a variable using the type() function.

# Standard Data Types in Python
Python provides the following standard data types:

1. Numbers
2. Sequence Types
3. Boolean
4. Set
5. Dictionary

## 1. **Numeric Data Types**
Numeric data types store numeric values and include:

1. **Integer:** Whole numbers e.g., 100, -50.
2. **Float:** Decimal numbers, e.g., 45.67, -89.5.
3. **Complex Number:** Numbers with a real and imaginary part, e.g., 4+3j.

### Example 1:

In [ ]:
principal = 100000  # Integer
rate = 7.5  # Float
growth = 2 + 3j  # Complex number

print("Type of principal:", type(principal))
print("Type of rate:", type(rate))
print("Type of growth:", type(growth))
print("Is 'growth' a complex number?", isinstance(growth, complex))

### Example 2:

In [ ]:
# Integer: Representing financial data
yearly_profit = 200000  # Integer
print("Profit (Integer):", yearly_profit)
print("Type of yearly_profit:", type(yearly_profit))

# Float: Representing interest rate
interest_rate = 7.25  # Float
print("Interest Rate (Float):", interest_rate)
print("Type of interest_rate:", type(interest_rate))

# Complex Number: Representing growth models
growth_model = 5 + 2j  # Complex
print("Growth Model (Complex):", growth_model)
print("Type of growth_model:", type(growth_model))
print("Is 'growth_model' a complex number?", isinstance(growth_model, complex))

## 2. **Sequence Types**
Sequence types are used to store collections of data and include:

1. String
2. List
3. Tuple

##1. **String**
A string is a sequence of characters enclosed in single, double, or triple quotes. It can store information like account names or financial categories. They are used to represent textual data like account details or financial categories.

## **Example 1:**

In [ ]:
# Financial Category
category = "Revenue"
description = """This is a financial summary
for the fiscal year."""

# String Operations
print("First character of 'category':", category[0])
print("Concatenation:", category + " - Growth")
print("Repetition:", category * 2)
print("Substring:", description[:20])  # Extract first 20 characters

## **Example 2:**

In [ ]:
# String examples
str1 = "Profit Report"  # Financial document name
str2 = " - Q1 2024"     # Quarter detail

# Operations
print(str1[0:6])  # Extracting the first six characters
print(str1[7])    # Printing the 7th character
print(str1 * 2)   # Repeating the string
print(str1 + str2)  # Concatenating strings

##**Example 3:**

In [ ]:
# String examples
currency = "USD"
message = "The exchange rate is 82.5 per " + currency

# Operations
print(currency[:2])  # Extracting part of the string
print("Currency in caps:", currency.upper())  # Converting to uppercase
print(message)  # Printing concatenated string

##2. **List**
A list is a mutable sequence that can can store a collection of data. Lists are useful for managing data like monthly revenues or expenses.

## **Example 1:**

In [ ]:
# Monthly revenue in USD
monthly_revenue = [12000, 15000, 13000, 17000]
print("Monthly Revenue List:", monthly_revenue)

# Operations
print("First two months' revenue:", monthly_revenue[:2])  # Slicing
print("Revenues doubled:", monthly_revenue * 2)  # Repetition
print("Concatenated List:", monthly_revenue + [14000, 16000])  # Concatenation

##**Example 2:**

In [ ]:
# Monthly revenue
monthly_revenue = [12000, 15000, 13000, 17000]

# Operations
print(type(monthly_revenue))  # Checking type
print(monthly_revenue)  # Printing list
print(monthly_revenue[2:])  # Slicing from the third element
print(monthly_revenue[:2])  # Slicing the first two elements
print(monthly_revenue * 2)  # Repeating the list
print(monthly_revenue + [14000, 16000])  # Concatenating lists

##**Example 3:**

In [ ]:
# Expense categories
expenses = ["Marketing", "Operations", "Finance", "IT"]

# Operations
print(type(expenses))  # Checking type
print(expenses)  # Printing list
print(expenses[1:3])  # Slicing to get elements 2 and 3
print(expenses + ["HR", "Legal"])  # Adding more categories
print(expenses * 3)  # Repeating the list

##3. **Tuple**
Tuples are immutable sequences, often used for fixed data like fiscal quarters or static financial data.

##**Example 1:**

In [ ]:
# Quarterly profits in USD
quarterly_profits = (30000, 45000, 50000, 42000)
print("Quarterly Profits Tuple:", quarterly_profits)

# Operations
print("Profit for Q1 and Q2:", quarterly_profits[:2])  # Slicing
print("Concatenation:", quarterly_profits + (60000,))  # Adding new data
print("Repetition:", quarterly_profits * 2)  # Repetition

##**Example 2:**

In [ ]:
# Quarterly profits
quarterly_profits = (30000, 45000, 50000, 42000)

# Operations
print(type(quarterly_profits))  # Checking type
print(quarterly_profits)  # Printing tuple
print(quarterly_profits[1:])  # Slicing from second element
print(quarterly_profits[:2])  # Slicing first two elements
print(quarterly_profits * 2)  # Repeating tuple
print(quarterly_profits + (60000,))  # Adding a new element

##**Example 3:**

In [ ]:
# Fixed tax slabs
tax_slabs = (5, 12, 18, 28)

# Operations
print(type(tax_slabs))  # Checking type
print(tax_slabs)  # Printing tuple
print(tax_slabs[0:3])  # Extracting first three slabs
print(tax_slabs * 3)  # Repeating tuple

# 3. **Boolean**
Boolean values store True or False. They can be used for decision-making in financial scenarios.

##**Example 1:**

In [ ]:
# Is the company profitable?
is_profitable = True
print("Type of is_profitable:", type(is_profitable))

# Logical Operation
print("Negating Profitability:", not is_profitable)

##**Example 2:**

In [ ]:
# Checking if revenue is above a threshold
revenue = 15000
is_above_threshold = revenue > 10000
print(type(is_above_threshold))  # Checking type
print("Is revenue above threshold?", is_above_threshold)

##**Example 3:**

In [ ]:
# Checking profitability
profit = 2000
loss = 0
print(bool(profit))  # True since non-zero value
print(bool(loss))  # False since zero value

# 4. **Set**
A set is an unordered collection of unique items, useful for storing distinct values like unique transaction IDs.

## **Example 1:**

In [ ]:
# Transaction IDs
transaction_ids = {101, 102, 103, 104}
print("Transaction IDs:", transaction_ids)

# Operations
transaction_ids.add(105)  # Adding new transaction
print("After Adding:", transaction_ids)

transaction_ids.remove(102)  # Removing a transaction
print("After Removing:", transaction_ids)

## **Example 2:**

In [ ]:
# Unique transaction IDs
transactions = {101, 102, 103, 104}

# Operations
print(type(transactions))  # Checking type
print(transactions)  # Printing set
transactions.add(105)  # Adding an element
print(transactions)
transactions.remove(102)  # Removing an element
print(transactions)

## **Example 3:**

In [ ]:
# Distinct branches
branches = {"New York", "London", "Tokyo", "Delhi"}

# Operations
print(type(branches))  # Checking type
print(branches)  # Printing set
branches.add("Sydney")  # Adding a new branch
print(branches)
branches.remove("London")  # Removing a branch
print(branches)

# 5. **Dictionary**

A dictionary in Python is a collection of key-value pairs, where each key is unique, and each key maps to a value. Dictionaries are mutable, meaning you can add, remove, or modify key-value pairs after their creation.

Dictionaries are particularly ideal for mapping relationships, such as:

1. Account Numbers to Balances
2. Products to Prices
3. Customer IDs to Orders

## **Example 1:**

In [ ]:
# Account balances
account_balances = {"A101": 5000, "A102": 10000, "A103": 7500}

# Operations
print("Account Balances:", account_balances)
print("Balance of A102:", account_balances["A102"])  # Accessing value
print("All Account Numbers:", account_balances.keys())  # All keys
print("All Balances:", account_balances.values())  # All values

# Adding a new account
account_balances["A104"] = 9000
print("Updated Balances:", account_balances)

## **Example 2:**Account Numbers and Balances
Dictionaries can store account numbers as keys and corresponding balances as values.

In [ ]:
# Dictionary storing account balances
account_balances = {"A001": 5000, "A002": 10000, "A003": 7500}

# Operations
print(type(account_balances))  # Checking the type
print("Account Balances:", account_balances)  # Printing the dictionary

# Accessing specific balances using keys
print("Balance of A002:", account_balances["A002"])

# Adding a new account with balance
account_balances["A004"] = 12000
print("Updated Account Balances:", account_balances)

# Removing an account
del account_balances["A003"]
print("After Removing A003:", account_balances)

# Fetching all keys and values
print("Account Numbers:", account_balances.keys())  # Keys (account numbers)
print("Balances:", account_balances.values())  # Values (balances)

## **Example 3:**Products and Prices
Dictionaries can also store product IDs as keys and their respective prices as values.

In [ ]:
# Dictionary storing product prices
product_prices = {"P101": 150, "P102": 250, "P103": 350}

# Operations
print(type(product_prices))  # Checking the type
print("Product Prices:", product_prices)  # Printing the dictionary

# Accessing the price of a specific product
print("Price of P102:", product_prices["P102"])

# Adding a new product
product_prices["P104"] = 450
print("Updated Product Prices:", product_prices)

# Updating the price of an existing product
product_prices["P103"] = 400
print("After Updating P103 Price:", product_prices)

# Removing a product
product_prices.pop("P101")
print("After Removing P101:", product_prices)

# Fetching all keys and values
print("Product IDs:", product_prices.keys())  # Keys (product IDs)
print("Prices:", product_prices.values())  # Values (prices)

# Key Features of Dictionaries

**Unordered:** The order of items may not match the order they were inserted (Python 3.7+ retains order for practical use).

**Keys Must Be Unique:** Duplicate keys are not allowed; the latest value overwrites earlier ones.

**Mutable:** You can add, delete, or modify entries.

**Efficient Lookups:** Accessing values using keys is quick and efficient.

# Common Operations with Dictionaries
<table><tr><th>Operation	<th>Code Example	<th>Explanation</tr>
<tr><td>Access a Value	<td>dictionary[key]	<td>Access the value corresponding to a key.</tr>
<tr><td>Add a Key-Value Pair	<td>dictionary[new_key] = value	<td>Add a new key-value pair.</tr>
<tr><td>Remove a Key-Value Pair	<td>dictionary.pop(key) or del dictionary[key]	<td>Remove an entry by key.</tr>
<tr><td>Get All Keys	<td>dictionary.keys()	<td>Returns a view of all keys in the dictionary.</tr>
<tr><td>Get All Values	<td>dictionary.values()	<td>Returns a view of all values in the dictionary.</tr>
<tr><td>Update an Existing Key	<td>dictionary[key] = new_value	<td>Modify the value associated with a key.</tr></table>

Dictionaries are incredibly versatile and particularly useful in finance for storing mappings, like product prices, account balances, and more.

# Summary of Data Types and Operations
<table><tr><th>Data Type	<th>Examples	<th>Key Operations</tr>
<tr><td>Integer	<td>200000, 10	<td>Arithmetic, type()</tr>
<tr><td>Float	<td>7.25, 12.5	<td>Arithmetic, type()</tr>
<tr><td>Complex	<td>5 + 2j	<td>Real/Imaginary part extraction</tr>
<tr><td>String	<td>"Revenue"	<td>Slicing, Concatenation, Repetition</tr>
<tr><td>List	<td>[12000, 15000]	<td>Slicing, Concatenation, Repetition</tr>
<tr><td>Tuple	<td>(30000, 45000)	<td>Slicing, Repetition</tr>
<tr><td>Boolean	<td>True, False	<td>Logical operations, Negation</tr>
<tr><td>Set	<td>{101, 102}	<td>Add, Remove, Unique Elements</tr>
<tr><td>Dictionary	<td>{"A101": 5000}	<td>Access values, Add new key-value pairs</tr></table>